name: Create Release

on:
  push:
    branches:
      - main  # 或者你的主分支名称

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest
          name: Release latest
          body: |
            此處存放手工上傳的 PDF 文件，始終爲最新版本。
            
            PDF 壓縮包包含以下文件：
            - 南寧白話分類詞表.pdf
            - 實用南寧白話分類詞表.pdf
            - 現代漢語詞彙南寧白話和亭子平話讀音表.pdf
            - 南寧白話單字讀音表.pdf
            - 南寧白話同音字表.pdf
            - 南寧亭子平話單字讀音表.pdf
            - 南寧亭子平話同音字表.pdf
            - 南寧白話、亭子平話與廣州話三語對照字表.pdf
            - 南宁白话入门.pdf

            更新內容：1.增加詞彙表；2.修訂字音表和分類詞表；3.完善pdf顯示。
            待解決問題：部分生僻字和下標字符在pdf顯示有問題，有待解決。
          generate_release_notes: true
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 